<div class="side-user">
  <div class="side-user-name">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="side-user-create">
    <%= link_to 'チャットを作成する', new_room_path %> <!--"表示"したい名前を編集 "#"はPrefix_path "method"はなければ消してよい-->
  </div>
</div>

<div class="side-rooms">
  <div class="side-room">
    <div class="side-room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="side-room">
    <div class="side-room-name">
      <% current_user.rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <a href="#"><%= room.name%></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

