.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-user{
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.side-user-room-{
  font-size: 10px;
}

.side-user-create a{
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.side-room{
  padding: 20px 20px 40px 20px;
}

.side-room-name a{
  color: white;
  text-decoration: none;
}

.chat{
  width: calc(100% - 300px);
  background-color: #FFFFFF;
}

.chat-room{
  height: 100px;
  padding: 0 40px;
}

.chat-messages{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.chat-form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}